body {
  background-color: #BFC9CA;
  font-family: "Comic Sans MS", cursive;
  margin: 0;
  padding: 0;
  animation: fadeInBody 1s ease;
}

@keyframes fadeInBody {
  from { opacity: 0; }
  to { opacity: 1; }
}

header {
  background-color: #5DADE2;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

header nav ul li {
  position: relative;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #3498db;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

header nav ul li a:hover {
  transform: scale(1.05);
  background-color: #2e86c1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#contenido {
  width: fit-content;
  margin: 30px auto;
  text-align: center;
  animation: fadeln 1s ease-out;
}

@keyframes fadeln {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

h1 {
  color: #1A5276;
  font-family: Cambria;
}
.receta {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.receta h2 {
  color: #1A5276;
  font-family: Cambria, serif;
  text-align: center;
}

.receta p {
  line-height: 1.6;
  font-family: Arial, sans-serif;
}